streamlit
python-dotenv
PyMuPDF
PyPDF2
langchain
langchain-google-genai
langchain-community
langchain-core
google-auth
streamlit-authenticator
bcrypt
faiss-cpu
pymongo
tinydb
nest_asyncio
psycopg2-binary
playwright
