streamlit
python-dotenv
# Leitura de PDF
pypdf
PyPDF2 # Alternativa/Complemento ao PyPDF2
PyMuPDF # Usado para 'fitz'
# PyPDF2 # Incluído acima
nest_asyncio
psycopg2-binary

# Dependências do LangChain (importante que estejam listadas)
langchain==0.1.20 
langchain-google-genai==0.0.11
langchain-community==0.0.38
langchain-core==0.1.52
# Ferramentas
google-auth
google-search-results # Para o GoogleSerperAPIWrapper (Serper)

# Autenticação e Interface
streamlit-authenticator
bcrypt

# Vetorização e RAG
faiss-cpu
# O nest_asyncio é crucial para rodar loaders como o AsyncChromiumLoader no Streamlit
nest_asyncio

# Banco de Dados (MongoDB)
pymongo
dnspython # Necessário para conexões MongoDB Atlas (URI srv)
# tinydb # Manter apenas se você o usar em 'utils.py' ou 'pages/Login.py'

# Web Scraping
playwright
beautifulsoup4
# Para o Playwright funcionar, você precisa do comando de instalação de browsers no Render
# No seu build command: python -m playwright install --with-deps chromium